body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.video-background {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 5em;
    margin: 0;
}

.nav {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav button:hover {
    color: #ccc;
}

/* TEST */
.middle {
    height: 50vh;
}

/* FOOTER */ 
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    position: relative;
    color: white;
    background: linear-gradient(to bottom, rgba(52, 152, 219, 0.5), rgba(41, 128, 185, 0.5)), url('./assets/footer.png');
    background-size: cover;
    background-position: center;
}

.footer-left {
    width: 50%;
}

.footer-left form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 65%;
}

.form-input-field {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

#email {
    width: 75%;
}

#submit {
    width: 15%;
}

.form-input-field button {
    width: 10%;
    height: 20px;
}

.form-checkbox {
    display: flex;
}

.form-checkbox label {
    margin-left: 1.5em;
}

.footer-right {
    width: 50%;
    text-align: center;
}

.footer-right ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-right li {
    margin: 10px 0 10px 0;
}

.footer-right a {
    color: white;
}