body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.video-background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 5em;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 10;
}

.navbar.scrolled {
    background-color: white;
}

.navbar .logo-container .logo {
    height: 50px; /* Adjust the size as needed */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbar .logo-container .logo:hover {
    transform: scale(1.1);
}

.navbar .nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar.scrolled .nav button {
    color: grey;
}

.navbar .nav button:hover {
    color: #ccc;
}

.white-section {
    height: 65vh; /* 30% larger than the previous 50vh */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.white-section h2 {
    font-size: 3em; /* Increased font size */
    margin-bottom: 40px;
}

.services {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service img {
    width: 300px; /* 50% larger than the previous 200px */
    height: auto;
    margin-bottom: 10px;
}

.service p {
    font-size: 1.8em; /* 50% larger than the previous 1.2em */
    margin: 0;
    font-weight: bold; /* Make text bold */
}
/* FOOTER */ 
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    position: relative;
    color: white;
    background: linear-gradient(to bottom, rgba(52, 152, 219, 0.5), rgba(41, 128, 185, 0.5)), url('./assets/footer.png');
    background-size: cover;
    background-position: center;
}

.footer-left {
    width: 50%;
}

.footer-left form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 65%;
}

.form-input-field {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

#email {
    width: 75%;
}

#submit {
    width: 15%;
}

.form-input-field button {
    width: 10%;
    height: 20px;
}

.form-checkbox {
    display: flex;
}

.form-checkbox label {
    margin-left: 1.5em;
}

.footer-right {
    width: 50%;
    text-align: center;
}

.footer-right ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-right li {
    margin: 10px 0 10px 0;
}

.footer-right a {
    color: white;
}